.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 720px;
  height: 720px;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.cell {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  margin: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
}

.bom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -300px;
}

.cell1 {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0;
  border: outset 10px;
}

.smile {
  width: 30px;
  height: 30px;
  margin: 20px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-color: grey;
  background-position: -360px 0;
  display: inline-block;
  transform: scale(2, 2);
  border: outset 1px;
  border: 1px solid black;
}
