.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 720px;
  height: 720px;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.cell {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  margin: 0;
}

.stone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
}

.bom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -300px;
}

.stone0 {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin: 0;
}

.stone1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: 0;
}

.stone2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -30px;
}

.stone3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -60px;
}

.stone4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -90px;
}

.stone5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -120px;
}

.stone6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -150px;
}

.stone7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -180px;
}

.stone8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -210px;
}
